  <div class="content-box">
    <nav class="navigation">
        <a href="#" title="Home">Home</a>
        <a href="#" title="Custom">Custom</a>
        <a href="#" title="Sedan">Sedan</a>
        <a href="#" title="SUV">SUV</a>
        <a href="#" title="Truck">Truck</a>
    </nav>
  </div>